{% extends "index.html" %}

{% block content %}
<div>
    <p>Here is your treasure, yay :</p>
    <div class="box">
        <img src="{{url_for('static', filename='such_a_lock_pickme_person.png')}}" />
    </div>
    <p>Where could it possibly be ?</p>
</div>
{% endblock %}