{% extends "index.html" %}

{% block content %}
<div>
    <p>Enter the secret password or get redirected to index page</p>
    <div class="box">
        <form method="POST" action="/admin">

            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="key" placeholder="password" autofocus="">
                </div>
            </div>

            <button class="button">OK now show me that secret content</button>

        </form>
    </div>
</div>
{% endblock %}