<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ugliest website ever <3</title>
</head>

<body>
    <h1>Hello World !</h1>
    <section class="section">
        {% if content_lines %}
        <div class="content_lines">
            <p>
            {% for elt in content_lines %}
                {{ elt }}</br>
            {% endfor %}
            </p>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </section>
</body>

</html>
